.option-selector-container {
  max-width: 2500px;
  text-align: center;
  font-size: 16px;
}

@media only screen and (min-width: 2000px) {
  .option-selector-container {
    text-align: center;
    font-size: 20px;
  }
}

.option-selector-container
.description-text {
  margin: 25px 0;
}

.option-selector-container
.buttons-before {
  position: relative;
  bottom: 10px;
  right: 10px;
}

.option-selector-container
.buttons-after {
  position: relative;
  bottom: 10px;
  left: 10px;
}
