.option-buttons-container {
  position: relative;
  display: inline-block;

  overflow-x: visible;

  -webkit-filter: url('#goo');
  filter: url('#goo');
}

.goo-filter {
  width: 0;
  height: 0;
}

.option-buttons-container
.blob {
  width: 30px;
  height: 30px;

  position: absolute;
  display: inline-block;
  left: 11px;
  top: 1px;

  border-radius: 100%;
  background: #ffd6f4;

  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.option-buttons-container
.blob2 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
