.hacky-ass-modal
.tooltip {
  width: 86%;
  height: 250px;
  background-color: #454343;
  display: block;
  position: fixed;
  left: 2%;
  top: 2%;

  padding: 15px 5% 20px 5%;

  z-index: 100;
}

.hacky-ass-modal
.tooltip-icon {
  width: 25px;
  height: 32px;
  border-radius: 100%;
  background-color: white;
  font-size: 20px;
  color: #454343;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 8px;
}

.hacky-ass-modal
.tooltip-info {
  font-size: 16px;
  color: #DBDADA;
}

.hacky-ass-modal
.ex {
  width: 35px;
  height: 35px;
  right: 4px;
  top: -13px;

  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);

  position: absolute;
}

.hacky-ass-modal
.ex:hover {
  cursor: pointer;
}

.hacky-ass-modal
.line {
  /* Dimension */
  width: 35px;
  height: 2px;

  /* Position */
  position: absolute;

  /* Style */
  background-color: #DBDADA;
  border-radius: 1px;
}

.hacky-ass-modal
.line.one {
  -ms-transform: translateY(17px) rotateZ(45deg);
  -webkit-transform: translateY(17px) rotateZ(45deg);
  transform: translateY(17px) rotateZ(45deg);
}

.hacky-ass-modal
.line.two {
  -ms-transform: translateY(17px) rotateZ(-45deg);
  -webkit-transform: translateY(17px) rotateZ(-45deg);
  transform: translateY(17px) rotateZ(-45deg);
}
