.discount-checkbox-container {
  position: relative;
  width: 140px;
}

.discount-checkbox-container
.tooltip-indicator {
  width: 13px;
  height: 19px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 0;
  padding-left: 7px;
  padding-top: 1px;
}

.discount-checkbox-container
.tooltip-indicator:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .discount-checkbox-container
  .tooltip-indicator:hover .tooltip {
    display: inline-block;
  }
}

.discount-checkbox-container
.tooltip {
  width: 350px;
  height: 220px;
  background-color: #454343;
  display: none;
  position: absolute;
  left:-375px;
  top: -277px;

  padding: 15px 35px 20px 35px;
}

.discount-checkbox-container
.tooltip::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 90%;
    margin-left: -8px;
    border-width: 15px;
    border-style: solid;
    border-color: #454343 transparent transparent transparent;
}

.discount-checkbox-container
.tooltip-icon {
  width: 25px;
  height: 32px;
  border-radius: 100%;
  background-color: white;
  font-size: 20px;
  color: #454343;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 8px;
}

.discount-checkbox-container
.tooltip-info {
  font-size: 16px;
  color: #DBDADA;
}
