.desktop-estimate {
  width: 100%;
  left: 0;
  top: -130px;
  position: fixed;
  z-index: 2;

  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.desktop-estimate.animate-show {
  top: 0;
}

@media only screen and (min-width: 1000px) {
  .desktop-estimate {
    width: 200px;
    height: 200px;
    display: inline-block;
    position: absolute;
    left: 75%;
    top: 125px;
    z-index: inherit;

    -webkit-transition: none;
    transition: none;
  }

  .desktop-estimate.animate-show {
    top: 125px;
  }
}

@media only screen and (min-width: 2500px) {
  .desktop-estimate {
    left: 50%;
    transform: translateX(600px);
  }
}

.above-boundry {
  top: 84px;
  bottom: auto;
}

.below-boundry {
  bottom: 273px;
  top:auto;
}

.stick {
  position: fixed;
  bottom: auto;
}

.desktop-estimate
.desktop-estimate-discount-checkbox-container {
  position: fixed;

  bottom: inherit;
  left: 75%;
  top: -30px;

  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

@media only screen and (min-width: 1000px) {
  .desktop-estimate
  .desktop-estimate-discount-checkbox-container {
    position: absolute;

    bottom: -60px;
    left: 50%;
    top: auto;
  }
}

.desktop-estimate-discount-checkbox-container.animate-show {
  top: 80px;
}

@media only screen and (min-width: 1000px) {
  .desktop-estimate-discount-checkbox-container.animate-show {
    top: auto;
  }
}
