.desktop-estimate {
  left: 0;
  top: 0;
}

@media only screen and (min-width: 1000px) {
  .desktop-estimate {
    width: 200px;
    height: 200px;
    display: inline-block;
    position: absolute;
    left: 75%;
    top: 125px;
  }
}

.above-boundry {
  top: 124px;
  bottom: auto;
}

.below-boundry {
  bottom: 233px;
  top:auto;
}

.stick {
  position: fixed;
  bottom: auto;
}
