.itemized-estimate-container {
  position: absolute;
  background-color: #EDEDED;
  width: 100%;
  height: 100px;
  padding: 15px;
}

@media only screen and (min-width: 1000px) {
  .itemized-estimate-container {
    display: inline-block;
    background-color: inherit;
    padding: 0;
    width: auto;
    height: auto;
  }
}

.itemized-estimate-container
.title {
  font-weight: bold;
  margin-bottom: 10px;
  width:130px;
  margin-left: 25%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 1000px) {
  .itemized-estimate-container
  .title {
    margin-bottom: 50px;
    width: inherit;
    margin-left: 0;
    transform: none;
  }
}

.itemized-estimate-container
.item-container {
  width: 130px;
  margin: 2px 0;
}

@media only screen and (min-width: 1000px) {
  .itemized-estimate-container
  .item-container {
    width: 200px;
    margin: 2px 0;
  }
}

.itemized-estimate-container
.item-group-container {
  width:130px;
  font-size: 12px;
  padding: 0;
  border: none;
  margin-left: 25%;

  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (min-width: 1000px) {
  .itemized-estimate-container
  .item-group-container {
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #95989A;
    width: inherit;
    margin-left: 0;

    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}

.itemized-estimate-container
.label {
  display: inline-block;
}

.itemized-estimate-container
.value {
  display: inline-block;
  float: right;
}

.itemized-estimate-container
.total {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .itemized-estimate-container
  .total {
    font-weight: bold;
    text-align: right;
    margin: 15px 0;
    display: inherit;
  }
}

.itemized-estimate-container
.mobile-total {
  display: inline-block;
  float: right;
}

@media only screen and (min-width: 1000px) {
  .itemized-estimate-container
  .mobile-total {
    display: none;
  }
}
