.landing
p {
  margin: 0;
}

.landing
.flex-section {
  max-width: 2200px;
  margin: 0 auto;
}

.landing
.flex-container {
  display: -webkit-flex;
  display: flex;

  max-width: 2200px;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-align-items: center;
  align-items: center;

  margin-bottom: 150px;
  margin-left: 30px;
  margin-right: 30px;
}

@media only screen and (min-width: 800px) {
  .landing
  .flex-container {
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-bottom: 250px;
  }
}

.landing
.flex-self-portrait {
  width: 75%;
  max-width: 700px;
}

@media only screen and (min-width: 800px) {
  .landing
  .flex-self-portrait {
    width: 50%;
  }
}

.landing
.flex-self-portrait
img {
  width: 100%;
  max-width: 100%;
  border-radius: 100%;
}

.landing
#title {
  position: relative;

  font-weight: 100;
  font-size: 50px;
}

@media only screen and (min-width: 2000px) {
  .landing
  #title {
    font-size: 70px;
  }
}

.landing
#subtitle {
  position: relative;
  left: 40px;
  top: 22px;
  font-size: 40px;
  font-family: 'La Belle Aurore';
  color: #ffd6f4;
}

@media only screen and (min-width: 2000px) {
  .landing
  #subtitle {
    font-size: 60px;
  }
}

.landing
.flex-one {
  width: 75%;
  max-width: 700px;
}

.landing
.flex-one
img {
  max-width: 100%;
}

.landing
.flex-two {
  max-width: 420px;
  line-height: 1.5em;
}

@media only screen and (min-width: 2000px) {
  .landing
  .flex-two {
    max-width: 520px;
  }
}

.landing
.flex-two
p {
  margin: 15px 0;
  display: inline-block;
}

.landing
.flex-two :last-child {
  margin-top: 50px;
}

.landing
.click-here {
  text-decoration-color: #95989A;
}

.landing
.click-here:hover {
  cursor: pointer;
}

@media only screen and (min-width: 2000px) {
  .landing
  .flex-two
  .font-size-small {
    font-size: 20px;
  }
}

@media only screen and (min-width: 2000px) {
  .landing
  .flex-two
  .font-size-regular {
    font-size: 34px;
  }
}
