.landing
p {
  margin: 0;
}

.landing
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 150px;
  margin-left: 30px;
  margin-right: 30px;
}

@media only screen and (min-width: 800px) {
  .landing
  .flex-container {
    flex-direction: row;
    margin-bottom: 250px;
  }
}

.flex-self-portrait {
  width: 75%;
  max-width: 700px;
}

@media only screen and (min-width: 800px) {
  .flex-self-portrait {
    width: 50%;
  }
}

.flex-self-portrait
img {
  width: 100%;
  max-width: 100%;
}

#title {
  position: relative;

  font-weight: 100;
  font-size: 50px;
}

#subtitle {
  position: relative;
  left: 40px;
  top: 22px;
  font-size: 40px;
  font-family: 'La Belle Aurore';
  color: #ffd6f4;
}

.landing
.flex-one {
  width: 75%;
  max-width: 700px;
}

.landing
.flex-one
img {
  max-width: 100%;
}

.landing
.flex-two {
  max-width: 420px;
  line-height: 1.5em;
}

.landing
.flex-two
p {
  margin: 15px 0;
  display: inline-block;
}

.landing
.flex-two :last-child {
  margin-top: 50px;
}

.click-here {
  text-decoration-color: #95989A;
}

.click-here:hover {
  cursor: pointer;
}
