.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

@media only screen and (min-width: 800px) {
  .faq-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

.faq-container
p {
  width: 100%;
  display: inline-block;
}

.faq-container
.faq-image {
  width: 50%;
  height: auto;
}

@media only screen and (min-width: 800px) {
  .faq-container
  .faq-image {
    width: 30%;

    padding: 0 10% 0 10%;
  }
}

.faq-container
.faq-image
img {
  width: 100%;
  max-width: 100%;
}

.faq-container
.faq-entries {
  width: 90%;
  margin: 0 5%;
}

@media only screen and (min-width: 800px) {
  .faq-container
  .faq-entries {
    width: 50%;
    margin-right: 5%;
  }
}

.faq-container
.header {
  position: relative;
  font-size: 50px;
  color: #95989A;
  margin: 0;
  text-decoration-color: #ffd6f4;
  text-decoration-line: underline;

  text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

.faq-container
.text {
  max-width: 500px;
  font-size: 24px;
  color: #AEB0B1;
  margin: 30px 0 60px 0;
}
