.footer {
  background-color: #EAE7E7;

  width: 100%;
  height: 200px;
  margin-top: 230px;
}

/* Mobile */
.footer
.column {
  width: 100%;
  height: 66px;

  display: block;
  position: relative;
}

/* Tablet & Desktop */
@media only screen and (min-width: 1000px) {
  .footer
  .column {
    width: 33.33%;
    height: 200px;

    display: inline-block;
    position: relative;
  }
}

.footer
.column
.social-column-container {
  width: 100%;
  height: 66px;

  position: absolute;

  padding-top: 20px;
}

/* Desktop */
@media only screen and (min-width: 1000px) {
  .footer
  .column
  .social-column-container {
    height: 100px;

    padding-top: 0;

    top: 50%;
    transform: translateY(-50%);
  }
}

.footer
.column
.social-column-container
.logo {
  width: 100px;
  height: auto;

  display: none;
  margin-left: 50px;
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .footer
  .column
  .social-column-container
  .logo {
    display: inline-block;
  }
}

.footer
.column
.social-column-container
p {
  display: none;
  position: absolute;
  margin-top: 0px;
  margin-left: 50px;
}

/* Tablet & Desktop */
@media only screen and (min-width: 1000px) {
  .footer
  .column
  .social-column-container
  p {
    display: inline-block;
  }
}

@media only screen and (min-width: 1440px) {
  .footer
  .column
  .social-column-container
  p {
    margin-left: 30px;
  }
}

.footer
.column
.social-column-container
.social-icon-container {
  width: 100%;
  height: 50px;
  text-align: center;

  display: inline-block;
  position: absolute;
}

/* Tablet & Desktop */
@media only screen and (min-width: 1000px) {
  .footer
  .column
  .social-column-container
  .social-icon-container {
    bottom: 0px;
    margin-left: 50px;
    text-align: initial;
  }
}

@media only screen and (min-width: 1440px) {
  .footer
  .column
  .social-column-container
  .social-icon-container {
    margin-left: 30px;
  }
}

.footer
.column
.social-column-container
.social-icon-container
.social-icon {
  width: 50px;
  height: 50px;

  display: inline-block;
  margin-right: 10px;

  border-radius: 50%;
  background-color: black;
}

.footer
.column
.sitemap-column-container {
  width: 100%;
  height: 66px;

  text-align: center;

  display: inline-block;
  position: absolute;
}

/* Tablet & Desktop */
@media only screen and (min-width: 1000px) {
  .footer
  .column
  .sitemap-column-container {
    width: 55px;
    height: auto;

    text-align: left;

    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.footer
.column
.sitemap-column-container
p {
  display: none;
}

/* Tablet & Desktop */
@media only screen and (min-width: 1000px) {
  .footer
  .column
  .sitemap-column-container
  p {
    display: block;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

.footer
.column
.sitemap-column-container
a {
  margin-top: 35px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;

  -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

/* Tablet & Desktop */
@media only screen and (min-width: 1000px) {
  .footer
  .column
  .sitemap-column-container
  a {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
    display: block;
  }
}

.footer
.column
.sitemap-column-container
a:hover {
  color: black;
}

.footer
.column
.copyright-column-container {
  width: 100%;

  position: absolute;
  bottom: 0px;

  padding-bottom: 10px;
  padding-right: 0;

  text-align: center;
}

/* Tablet & Desktop */
@media only screen and (min-width: 1000px) {
  .footer
  .column
  .copyright-column-container {
    width: auto;

    position: absolute;
    bottom: 0px;
    right: 0px;
    left: initial;

    padding-right: 10px;

    text-align: left;
  }
}

.footer
.column
.copyright-column-container
p {
  margin-top: 4px;
  margin-bottom: 0px;
}
