.navbar-link {
  display: inline-block;

  position: relative;
  margin-right: 25px;
  margin-left: 25px;

  text-align: left;
 }

.navbar-link a {
  display: block;
}

.navbar-link a:link {
  /* regular */
  color: #888A8B;
  -webkit-transition: color 0.5s;
    transition: color 0.5s; }

.navbar-link a:visited {
  color: #888A8B; }

.navbar-link a:hover {
  color: black; }

.navbar-link .active-indicator {
  display: inline-block;

  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
}
